html {
    background-color: $background;
    color: $text;
    font-size: 16px;
}

h1 {
    font-size: 25px;
}

.v-btn {
    background-color: $primary !important;
    color: #FFF !important;
    margin-top: 5px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    > *{ 
        padding: {
            top: 5px;
            bottom: 5px;
        }
    }
}

.to-end {
    align-self: flex-end;
}

.v-card {
    background-color: $surface !important;
    color:$text !important;
    padding: 5px !important;
}

a {
    color: #FA0000;
    text-decoration: none;
    transition: color 500ms;

    &:hover {
        color: #AF0000;
    }
}

.link-as-btn {
    min-height: 2em;
    width: 250px;
    background-color: $secondary;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: {
        right: 10px;
        left:10px;
        top: 5px;
        bottom: 5px;
    }
    margin: {
        top: 15px;
        bottom: 15px;
    }
    color: $text;
    border-radius: 8px;

    &:hover {
        color: $text;
        background-color: $secondary-hover;
    }
}